@media screen and (min-width: 992px) and (max-width: 1400px) {
  .switchTheme {
    right: 66%;
  }
}
@media screen and (max-width: 991.98px) {
  .switchTheme {
    right: 100px;
  }
  .title {
    max-width: 100%;
  }
  header {
    height: auto;
    padding: 15px 0;
  }
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
  header .navbar-collapse {
    text-align: center;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 8px 0;
    text-align: center;
  }
  #navbarHeader .nav-link {
    padding-top: 0;
  }
  #navbarHeader .navbar-nav {
    padding-top: 14px;
  }
  header .navbar-toggler {
    background-color: #dc4f72;
    color: #fff;
  }
  header .navbar-toggler-icon {
    line-height: 30px;
  }
  button.navbar-toggler.collapsed .icon-close {
    display: none;
  }
  button.navbar-toggler.collapsed .icon-expand {
    display: block;
  }

  button.navbar-toggler .icon-close {
    display: block;
  }
  button.navbar-toggler .icon-expand {
    display: none;
  }

  /* INTRODUCE */
  .introduce__content a {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .title h3 {
    font-size: 6vw;
    line-height: 9vw;
  }

  /* INTRODUCE */
  .introduce__content a {
    margin-top: 30px;
  }

  /* SOLUTION */
  .new__item h4 a {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 768px) {
  /* FEATURE */
  .project__content {
    border: 1px solid rgb(193, 193, 193);
  }
  .tab-content .row {
    width: 100%;
    display: block;
  }
  .tab-content .col-6 {
    max-width: 100%;
  }
  .feature .tab-content p {
    margin-bottom: 30px;
  }
  .feature .tab-content button {
    margin-bottom: 30px;
  }
  .feature .nav-pills {
    display: block;
  }
  .feature .nav-pills li {
    width: 100%;
  }
  .feature .nav-pills a {
    text-align: left;
  }
  .col-6 {
    max-width: 100%;
  }
  .col-6:last-of-type {
    margin-top: 30px;
    padding: 0 15px;
  }
  .col-4 {
    max-width: 100%;
  }
  .footer__top .row {
    width: 100%;
    display: block;
  }
  .footer__top h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  footer li {
    font-size: 16px;
    margin: 10px 0px;
  }
  footer .footer__column h4 {
    font-size: 18px;
  }
  footer form {
    max-width: 100%;
  }
  footer .footer__column form input {
    font-size: 16px;
  }
  footer .footer__column form button {
    font-size: 16px;
  }
  .footer__bottom .footer__contact {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 35px;
  }
}
