* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #5a5a5a;
  scroll-behavior: smooth;
}
/* backtotop */
.backToTop i {
  position: fixed;
  right: 0;
  bottom: 70px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #dc4f72;
  color: #fff;
  cursor: pointer;
}
/* button dùng chung */
.theme__button {
  color: #dc4f72;
  border-color: #dc4f72;
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 0px 30px;
  text-transform: uppercase;
}
.theme__button:hover {
  background-color: #dc4f72;
  color: #fff;
}
/* khoảng padding chung của mỗi phần */
.section {
  padding: 48px 0px;
}
/* Tiêu đề dùng chung */
.title {
  max-width: 750px;
  margin: 0 auto;
}
.title h6 {
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  margin-bottom: 5px;
}
.title h3 {
  color: #2c3038;
  font-size: 3.125rem;
  line-height: 1;
  font-weight: 700;
}
.title p {
  line-height: 22.5px;
  font-weight: 400;
}
.switchTheme {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}
.switchTheme .label {
  position: relative;
  background-color: #111;
  height: 26px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  cursor: pointer;
}
.switchTheme .checkbox {
  opacity: 0;
  position: absolute;
}
.switchTheme .checkbox:checked + .label .ball {
  transform: translateX(24px);
}
.ball {
  width: 22px;
  height: 22px;
  background: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: all 0.2s linear;
}
.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}
.dark .about,
.dark .number__item,
.dark #header,
body.dark {
  background-color: #000;
}
.dark .footer__contact,
.dark footer .footer__column p,
.dark footer .footer__column h4,
.dark footer .col-4 a,
.dark footer h3,
.dark .feature .tab-content p,
.dark .feature .tab-content h2,
.dark .feature .heading p,
.dark .feature .heading h3,
.dark .solution__title p,
.dark .solution__title h3,
.dark .number__item h4,
.dark .number__item,
.dark .title h3,
.dark .title p,
.dark .about .title h3,
.dark #navbarHeader .nav-link {
  color: #fff;
}
.dark .contact__right a {
  background-color: #fff;
}
/* RIGHT MENU */
.pull-right {
  float: right;
  position: fixed;
  right: 0px;
  top: 70px;
  width: 90px;
  z-index: 9999;
  text-align: center;
}

.fa-angle-double-right:before {
  content: "\f101";
}

.toggle-right-sidebar span {
  background: #0d1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.5;
}

#right-sidebar {
  width: 90px;
  position: fixed;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 60px;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}

#w3lDemoBar.w3l-demo-bar {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px;
  padding-top: 70px;
  margin-bottom: 70px;
  background: #0d1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

#w3lDemoBar.w3l-demo-bar .demo-btns {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}

#w3lDemoBar.w3l-demo-bar a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}

#w3lDemoBar.w3l-demo-bar a:hover {
  opacity: 1;
}
#w3lDemoBar.w3l-demo-bar span.w3l-icon {
  display: block;
}

/* HEADER */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
header.nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 70px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

/* HEADER */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
header.nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 70px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
header .navbar-brand {
  color: #dc4f72;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: -1px;
}

#navbarHeader .nav-item {
  padding: 0 15px;
  transition: all 0.5s ease;
  position: relative;
}

#navbarHeader .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 400;
  color: #2c3038;
}
#navbarHeader .nav-link::before {
  position: absolute;
  content: "";
  display: block;
  bottom: 13px;
  width: 0px;
  height: 2px;
  background-color: #dc4f72;
  transition: all 0.5s ease;
}
#navbarHeader .nav-link:hover:before {
  width: 20px;
}
#navbarHeader .active .nav-link {
  color: #dc4f72;
}
#navbarHeader .dropdown-toggle::after {
  display: none;
}
#navbarDropdownHeader i {
  font-size: 0.8rem;
  padding-left: 2px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
  border-radius: 6px;
  min-width: 11rem;
  padding: 1rem 0 0.3rem;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
a.dropdown-item {
  font-weight: 400;
  font-size: 1rem;
  color: #2c3038;
  position: relative;
  padding-top: 0;
  padding-bottom: 14px;
}
/* CAROUSEL */
.carousel {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../img/banner.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 80px;
  margin-top: 90px;
}
.carousel h3 {
  font-size: 3.125rem;
  line-height: 57.5px;
  color: #2c3038;
  font-weight: 700;
}
.carousel p {
  font-size: 1.25rem;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}
.carousel img {
  transform: rotate(180deg);
}
/* TOOLS */
.tools__item {
  border-radius: 16px;
  transition: 0.3s ease-in;
  background: #f7f9fc;
  padding: 3rem 2rem;
  border: 1px solid #f7f9fc;
  cursor: pointer;
}
.tools__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  border: 1px solid #eee;
  background-color: #ffffff;
}
.tools__item h3 {
  color: #2c3038;
  font-size: 1.5rem;
  line-height: 35px;
  font-weight: 700;
  margin: 16px 0;
}
/* ABOUT */
.about {
  background-color: #f7f9fc;
}
.about .title h3 {
  font-size: 2.125rem;
  color: #2c3038;
  line-height: 40px;
  font-weight: 500;
}
.about button {
  background-color: #dc4f72;
  color: #fff;
}
.about button:hover {
  background-color: #e13963;
}
.about img {
  border-radius: 16px;
  transition: all 0.5s;
}
.about img:hover {
  transform: translateY(-10px);
}
.number__item {
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.number__item h4 {
  font-size: 1rem;
  line-height: 24.5px;
  color: #2c3038;
  font-weight: 700;
}
.number__item p:first-of-type {
  font-size: 3rem;
  line-height: 1;
  color: #dc4f72;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}

/* INTRODUCE */
.introduce {
  padding-top: 10px;
}
.introduce__overlay {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}

.introduce__content {
  max-width: 550px;
}

.introduce__title h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.introduce__item p {
  font-size: 16px;
  color: #eee;
  line-height: 24px;
}

.overlay-button {
  transition: all 0.3s;
  line-height: 52px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

/* SOLUTIONS */
.solution {
  padding-top: 15px;
}
.solution__title {
  max-width: 750px;
  margin: 0 auto;
}

.solution__title h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.solution__title h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.solution__title p {
  color: #2c3038;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.new__item {
  border-radius: 6px;
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
  transition: 0.5s ease-in;
}

.new__item:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.new__item a {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.new__item a.zoom {
  overflow: hidden;
  position: relative;
}

.new__item a.zoom img {
  transition: 0.3s ease-in-out;
  filter: grayscale(1);
}

.new__item:hover a.zoom img {
  overflow: hidden;
  filter: grayscale(0);
  transition: 0.3s ease-in-out;
}

.new__item img {
  width: 100%;
  display: block;
}

.new__item p.date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 0;
  position: absolute;
  top: 0;
  background: #dc4f72;
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
}

.new__info {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

label.tag-label {
  padding: 5px 15px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
}

label.tag-label.red {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}

label.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}

label.tag-label.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}

.new__info p {
  font-size: 16px;
  line-height: 24.5px;
  color: #2c3038;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.new__info h4 a {
  font-size: 22px;
  line-height: 27px;
  color: black;
  display: block;
  font-weight: 500;
}

.new__info a {
  text-decoration: none;
}

.new__item:hover h4 a {
  color: #dc4f72;
}

.new__info h4 a:hover {
  color: #dc4f72;
}

a.btn-news {
  padding: 0;
  color: #dc4f72;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}

a.btn-news span {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0px;
  position: absolute;
  right: -13px;
  top: 7.5px;
  transition: 0.3s ease-in;
}

a.btn-news:hover {
  transition: 0.3s ease-in-out;
  color: #e13963;
}

a.btn-news:hover span.fa {
  right: -16px;
  transition: 0.3s ease-in;
}

.new__item:hover a.btn-news span.fa {
  right: -16px;
  transition: 0.3s ease-in;
}

/* QUESTION */
.question {
  padding-top: 50px;
  text-align: center;
  background: #fff;
}

.question__title {
  max-width: 750px;
  margin: 0 auto;
}

.question__title h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.question__title h3 {
  color: #2c3038;
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
}

.question__title p {
  color: #2c3038;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.question__bg img {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 6px;
}

.question__bg img:hover {
  transform: translateY(-10px);
  transition: 0.5s ease-in-out;
}

.question__text ul {
  list-style: none;
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
}

.question__text ul li {
  position: relative;
  padding: 25px 20px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 10px 0;
  background: #fff;
  border-radius: 6px;
}

.question__text ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.question__text ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.question__text ul li:nth-of-type(3) {
  animation-delay: 1s;
}
.question__text ul li:nth-of-type(4) {
  animation-delay: 1.25s;
}
.question__text ul li:nth-of-type(5) {
  animation-delay: 1.5s;
}
.question__text ul li:nth-of-type(6) {
  animation-delay: 1.75s;
}

.question__text ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
}

.question__text ul li i:before,
.question__text ul li i:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: #000;
}

.question__text ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

.question__text ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.question__text h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  color: #2c3038;
  text-align: left;
}

.question__text p {
  font-size: 16px;
  text-align: left;
  line-height: 24.5px;
  position: relative;
  color: #2c3038;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  transition: all 0.25s ease-in-out;
}

.question__text ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  appearance: none;
}

.question__text ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.question__text ul li input[type="checkbox"]:checked ~ i::before {
  transform: translate(2px, 0) rotate(45deg);
}

.question__text ul li input[type="checkbox"]:checked ~ i::after {
  transform: translate(-2px, 0) rotate(-45deg);
}
/* Feature */
.container {
  max-width: 1200px;
  margin: auto;
}
.heading {
  max-width: 750px;
  margin: 0 auto;
}
/* start feature */
.feature {
  margin-bottom: 50px;
}
.feature .heading h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.feature .heading h3 {
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  color: #2c3038;
}
.feature .heading p {
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  color: #5a5a5a;
}

.feature .nav-pills li {
  font-weight: 700;
  font-size: 22px;
  padding: 15px 0px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  width: 33.333%;
  text-align: center;
  color: #4e5b61;
  background: #fff;
}
.feature .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #dc4f72;
  background-color: #fff;
  border-bottom: 3px solid #dc4f72;
}
.feature .nav-pills a {
  color: #4e5b61;
  border-bottom: 3px solid #eee;
}
.feature .tab-content h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #2c3038;
}
.feature .tab-content {
  margin-top: 30px;
}
.feature .tab-content p {
  color: #5a5a5a;
  font-size: 16px;
  margin-bottom: 16px;
}
.feature .tab-content button {
  background-color: #fff;
  padding: 0px 30px;
  line-height: 50px;
  border: 1px solid #dc4f72;
  color: #dc4f72;
  font-weight: 500;
  border-radius: 6px;
  transition: 0.5s;
  outline: 0px;
}
.feature .tab-content button:focus {
  box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}
.feature .tab-content button:hover {
  background-color: #dc4f72;
  color: #fff;
}
.feature .tab-content .img {
  max-width: 100%;
  border-radius: 10px;
  transform: translateY(0px);
  transition: 0.3s;
}
.feature .tab-content .img:hover {
  transform: translateY(-10px);
}
/* end feature */
/* feedback */
.feedback {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(../img/b2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 0px;
}
.feedback .feedback__title {
  text-align: center;
}
.feedback .feedback__title p {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #dc4f72;
  line-height: 20px;
}
.feedback .feedback__title h1 {
  color: #2c3038;
  font-size: 47px;
}
.feedback .feedback__title span {
  color: #5a5a5a;
  font-weight: 400;
  font-size: 16px;
}
.feedback .feedback__comment {
  padding: 50px;
}
.feedback .list__item {
  max-width: 95%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px;
  background-color: #fff;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 10px;
  margin-right: 30px;
}
.feedback .item__img {
  overflow: hidden;
  border: 3px solid #dc4f72;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.feedback .img-fluid {
  max-width: 100%;
  height: auto;
}
.feedback .item__img img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.feedback .name h2 {
  font-size: 20px;
  color: #dc4f72;
  font-weight: 300;
  margin-top: 20px;
}
.feedback .name span {
  color: #5a5a5a;
  font-size: 13px;
}
.feedback .item__content i {
  font-size: 30px;
  color: #2c3038;
  position: absolute;
  left: -33px;
  top: -10px;
  opacity: 0.2;
}
.feedback .item__content {
  position: relative;
}
.slick-dots {
  bottom: -70px;
}
.slick-dots li button:before {
  display: none;
}

.slick-dots li {
  width: 40px;
  height: 2px;
}
.slick-dots li button {
  width: 40px;
  height: 2px;
  background-color: #fff;
  padding: 3px;
  box-shadow: 0 0 0 0.2rem rgba(236, 235, 235, 0.5);
}
.slick-dots li.slick-active button {
  background-color: #e13963;
}
.slick-dots li button:hover {
  background-color: #e13963;
  transition: 0.3s;
}
/* end feedback */
/* COMMUNITY */
.community {
  background-color: #fff;
  padding: 50px 0px;
}
.community .community__title {
  text-align: center;
}
.community .community__title h1 {
  font-size: 47px;
  font-weight: 700;
  color: #2c3038;
}
.community .community__title p {
  font-size: 16px;
  color: #5a5a5a;
  font-weight: 400;
}
.community__button {
  text-align: center;
}
.community .community__button a {
  text-decoration: none;
}
.community__button a:first-of-type {
  background-color: #fff;
  padding: 20px 40px;
  line-height: 52px;
  border: 1px solid #dc4f72;
  color: #dc4f72;
  font-weight: 500;
  border-radius: 6px;
  transition: 0.5s;
  font-size: 14px;
  margin-right: 10px;
}
.community__button a:last-of-type {
  background-color: #dc4f72;
  padding: 20px 40px;
  line-height: 52px;
  border: 1px solid #dc4f72;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.5s;
  color: #fff;
  font-size: 14px;
}
.community__button a:hover {
  background-color: #dc4f72;
  color: #fff;
}
/* end community */
/* Footer */
footer {
  padding: 50px 0px;
}
.footer__top {
  margin-bottom: 50px;
}
footer h3 {
  color: #2c3038;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
footer li {
  list-style: none;
  font-size: 15px;
  margin-bottom: 10px;
}
footer .col-4 a {
  text-decoration: none;
  color: #656f7b;
  line-height: 25px;
  transition: 0.3s;
}
footer a:hover {
  color: #dc4f72;
}
footer .footer__column {
  padding: 20px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
}
footer .footer__column h4 {
  color: #2c3038;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 400;
}
footer .footer__column form input {
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  background: #f7f9fc;
  font-size: 16px;
  width: 80%;
  flex-shrink: 0;
  outline: 0px;
}
footer .footer__column form button {
  flex-grow: 1;
  background-color: #dc4f72;
  color: #fff;
  font-size: 16px;
  padding: 12px 40px;
  border-radius: 6px;
  font-weight: 600;
  border: #dc4f72;
  outline: 0px;
}
footer .footer__column p {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 22px;
}
.footer__bottom {
  padding: 20px 0px;
  border-top: 1px solid #eaeaea;
  margin-top: 50px;
}
.footer__contact {
  display: flex;
  justify-content: space-between;
}
.contact__right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: black;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  margin-right: 10px;
}
.contact__left span:hover {
  color: #dc4f72;
}
